

<div *ngIf="favourites.length > 0">
    <h1 style="font-style: italic;" class="text-center text-4xl capitalize my-2 font-bold">Favourite Foods Recipes</h1>
    <div class="flex flex-wrap gap-12">
        <!-- <app-recipe-card *ngFor="let recipe of favourites" [recipe]="recipe"></app-recipe-card> -->
        <div *ngFor="let recipe of favourites" class="card my-4 mx-3 cursor-pointer">
            <div routerLink='/recipe-info/{{recipe.id}}'>
                <img [src]="recipe.image" alt="">
            <p class="font-semibold text-lg">{{recipe.name.slice(0,20)}}</p>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-lg font-semibold ms-2"><i class="fa-solid fa-star text-yellow-400"></i>{{recipe.rating}}</span>
              <button (click)="removeFavourites(recipe._id)" class="px-2 py-1 border rounded"><i class="fa-solid fa-heart-circle-minus text-red-600 me-2"></i>Remove</button>
            </div>
          </div>
    </div>
</div>

<div  class="h-[80vh] grid place-items-center" *ngIf="favourites.length === 0">
    <h1 style="font-style: italic;" class="text-center  text-4xl capitalize font-bold">No Favourite Foods Recipes</h1>
</div>


